@import "../../assets//styles/global.scss";

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  &__inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    &--ul {
      margin-left: 20px;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  &--file {
    margin-bottom: 24px;
  }

  &__fileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &--svg {
      margin-top: 32px;
    }
  }

  &__folderAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: $black--1;
    margin-bottom: 32px;

    font-family: $family--primary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    &--text {
      text-decoration: underline;
      font-weight: 500;
    }
  }

  &__email {
    width: 100%;
    max-width: 288px;
    align-self: flex-start;
    margin-bottom: 8px;

    &--error {
      width: 100%;
      max-width: 260px;
      font-family: $family--primary;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &--button {
    width: 100%;
    max-width: 288px;
    align-self: flex-end;
    margin-top: 40px;
  }
}

.base,
.valid,
.inValid {
  font-family: $family--primary;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.base {
  color: $gray--3;
}

.valid {
  color: $successPrimary;
}

.inValid {
  color: $errorPrimary;
}
