@import "../../../assets/styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      color: $black--1;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }

    &--buttons {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}
