@import "../../assets/styles/global.scss";

.title,
.label,
.error {
  color: $black--1;
  font-family: $family--primary;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 20px 0 24px 0;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.error {
  color: $errorPrimary;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
