@import '../../assets/styles/variables';

.layout {
  &__header {
    &--icon {
      display: flex;
      align-self: center;
      justify-content: center;
      padding: 28px 0;

      background: $white--1;
      border-bottom: 1px solid $white--2;
    }
  }

  &__main {
    padding: 28px 76px;

    display: flex;
    align-items: flex-start;

    &--back {
      width: fit-content;
    }

    &--outlet {
      max-width: $maxWidth--secondary;
      margin: $mxAuto;
      width: 100%;
    }
  }
}
