//* containers *//
$maxWidth: 1288px;
$maxWidth--secondary: 600px;

//* font-family *//
$family--primary: FiraGO;

//* colors *//
$white--1: #fff;
$white--2: #e4e3eb;

$gray--1: #f3f2fa;
$gray--2: #404049;
$gray--3: #85858d;

$black--1: #1a1a1f;

$blue--1: #5d37f3;

$errorPrimary: #ea1919;
$successPrimary: #14d81c;

//* others *//
$mxAuto: 0 auto;
$myAuto: auto 0;
