//* containers *//
$maxWidth: 1288px;
$maxWidth--secondary: 600px;

//* font-family *//
$family--primary: FiraGO;

//* colors *//
$white--1: #fff;
$white--2: #e4e3eb;

$gray--1: #f3f2fa;

//* others *//
$mxAuto: 0 auto;
$myAuto: auto 0;
