//* containers *//
$maxWidth: 1288px;
$maxWidth--secondary: 600px;

//* font-family *//
$family--primary: FiraGO;

//* colors *//
$white--1: #fff;
$white--2: #e4e3eb;

$gray--1: #f3f2fa;
$gray--2: #404049;
$gray--3: #85858D;

$black--1: #1A1A1F;

$blue--1: #5D37F3;

//* others *//
$mxAuto: 0 auto;
$myAuto: auto 0;
